{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body

    <header>
        <h1 class="header-title">About Our Team</h1>
    </header>

    <main>
        <section class="team-box">
            <h2>🌟 Team Members</h2>
            <div class="member">
                <h3>Vineeth</h3>
                <p>Role: Backend Developer</p>
                <p>Email: <a href="mailto:vineeth.24cs181@sode-edu.in">vineeth.24cs181@sode-edu.in</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/vineethbhatalevoor0507">View Profile</a></p>
            </div>
            <div class="member">
                <h3>Vishnu Prasad</h3>
                <p>Role: Frontend Developer</p>
                <p>Email: <a href="mailto:vishnu.24cs182@sode-edu.in">vishnu.24cs182@sode-edu.in</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/vishnu-prasad-nayak-4b6333266">View Profile</a></p>
            </div>
        </section>
    </main>

</body>
</html>
